@media screen and (max-width: 497.5px) {
  .mc_eighth_waterresi_img {
    background-size: 200% 100% !important;
    background-position: 53% 100% !important; } }

@media screen and (max-width: 630px) {
  .all_devices_img {
    min-height: 320px !important;
    top: 100px !important; } }

@media screen and (max-width: 574.5px) {
  .lens_img_div {
    bottom: 50px !important; }
  .mc_seventh_div {
    background-size: 160% 60% !important;
    background-position: 60% 55% !important; }
  .mc_seventh_div h1 {
    font-size: 45px !important; } }

@media screen and (max-width: 670px) {
  .mc_sec_div {
    height: 430px !important;
    padding-top: 0 !important; } }

@media screen and (max-width: 870px) {
  .mc_fourth_div_img {
    height: 400px !important; } }

@media screen and (max-width: 991.5px) {
  .vidd {
    top: 20px !important; } }

.mdc_first,
.mdc_sec {
  position: relative;
  min-height: 450px; }

.mdc_first h1 {
  font-weight: bold;
  top: 40px;
  position: relative;
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 70px;
  opacity: 0;
  -webkit-transition: .4s ease-in;
  -o-transition: .4s ease-in;
  transition: .4s ease-in;
  border-left: solid #000000;
  padding-left: 10px; }

.mdc_first h2 {
  position: relative;
  font-weight: bold;
  top: 120px;
  -webkit-transition: .7s ease-in;
  -o-transition: .7s ease-in;
  transition: .7s ease-in;
  opacity: 0;
  margin-left: 20px;
  font-family: 'Lexend Deca', sans-serif; }

.mdc_first p {
  position: relative;
  top: 170px;
  left: 15px;
  width: 400px;
  padding-bottom: 80px;
  margin-right: 50px;
  padding-left: 30px;
  opacity: 0;
  font-size: 20px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: 'Lexend Deca', sans-serif; }

.lens_img_div {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
  bottom: 70px;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFFFFF), color-stop(50%, #000000));
  background: -webkit-linear-gradient(top, #FFFFFF 50%, #000000 50%);
  background: -o-linear-gradient(top, #FFFFFF 50%, #000000 50%);
  background: linear-gradient(to bottom, #FFFFFF 50%, #000000 50%);
  background-size: 100% 100%;
  background-position: top bottom; }

.lens_img_div img {
  width: 250px;
  left: -100px;
  position: absolute;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  margin-left: 150px;
  top: 20px; }

.lens_img_div img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.mc_sec_div {
  display: block;
  position: relative;
  height: 900px;
  width: 100%;
  padding-top: 50px;
  background-color: #000000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }

.mcsec_one {
  display: inline-block;
  position: relative;
  min-height: 620px;
  max-height: auto;
  margin: 0;
  padding: 0;
  color: #FFFFFF; }

.mcsec_one p {
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
  font-size: 13.5vw;
  padding-right: 6vw;
  font-weight: bold; }

.msec_p_zoom {
  position: relative;
  bottom: 200px;
  font-size: 12vw !important; }

.mc_third_div {
  display: block;
  position: relative;
  min-height: 700px;
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: #FFFFFF; }

.mc_third_title {
  display: block;
  position: relative;
  top: 60px;
  left: -1000px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  padding-left: 10px;
  border-left: solid #FFFFFF;
  font-weight: bold;
  font-family: 'Lexend Deca', sans-serif; }

.mc_third_title h1 span {
  color: #978E8E; }

.mc_third_img {
  display: block;
  position: relative;
  height: 330px;
  top: 130px;
  background-image: url("../images/slider_one.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: mcthirdimg 3s linear infinite;
  animation: mcthirdimg 3s linear infinite; }

@-webkit-keyframes mcthirdimg {
  25% {
    top: 125px; }
  50% {
    top: 120px; }
  75% {
    top: 125px; }
  100% {
    top: 130px; } }

@keyframes mcthirdimg {
  25% {
    top: 125px; }
  50% {
    top: 120px; }
  75% {
    top: 125px; }
  100% {
    top: 130px; } }

.mc_img_shad {
  display: block;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: 45px;
  top: 140px;
  background-image: url("../images/galaxy_shadow.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation: mcthirdimgshd 8s linear infinite;
  animation: mcthirdimgshd 8s linear infinite; }

@-webkit-keyframes mcthirdimgshd {
  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.85; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.9; }
  75% {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
    opacity: 0.95; } }

@keyframes mcthirdimgshd {
  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.85; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.9; }
  75% {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
    opacity: 0.95; } }

.mc_third_div_first,
.mc_third_div_sec {
  position: relative;
  min-height: 150px;
  display: block;
  top: 170px;
  padding-bottom: 50px; }

.mc_third_first_p {
  font-size: 38px;
  padding-left: 20px;
  margin-left: 10px;
  opacity: 0;
  padding-right: 10px;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  color: #FFFFFF;
  font-family: 'Lexend Deca', sans-serif;
  border-left: solid #FFFFFF; }

.mc_third_div_sec {
  text-align: center; }

.mc_third_div_sec p {
  margin-top: 3vw;
  padding: 10px;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: 'Lexend Deca', sans-serif; }

.mc_third_div_first p span {
  color: #978E8E; }

.mc_fourth_div {
  position: relative;
  display: block;
  min-height: 500px;
  top: 170px;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 35px; }

.mc_fourth_div h1 {
  width: 76%;
  position: relative;
  color: #000000;
  margin-left: 20px;
  font-weight: bold;
  padding: 10px 10px 30px 10px;
  font-family: 'Lexend Deca', sans-serif;
  border-left: 1px solid #000000;
  margin-top: -100px;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  opacity: 0; }

.mc_fourth_div h1 span {
  color: #585858; }

.mc_fourth_div_img {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  display: block;
  height: 500px;
  top: 30px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.mc_fourth_descr_div {
  min-height: 220px;
  position: relative;
  padding: 40px 40px 0 40px;
  margin-left: -800px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0; }

.mc_fourthimg_descr {
  position: relative;
  font-family: 'Lexend Deca', sans-serif;
  color: #000000;
  padding: 5px;
  font-size: 22px; }

.mc_fourthimg_descr span {
  color: #585858; }

.mc_fifth_div {
  display: inline-block;
  min-height: 300px;
  background-color: #000000;
  position: relative;
  top: 170px; }

.mc_fifth_first,
.mc_fifth_sec {
  position: relative;
  min-height: 350px;
  display: inline-block;
  padding-bottom: 50px;
  margin: 0;
  padding: 0; }

.mc_fifth_first {
  padding: 30px 0 0 25px;
  padding-right: 15px; }

.mc_fifth_sec {
  background-color: #FFFFFF; }

.mc_fifth_first h1 {
  border-left: solid #FFFFFF;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 65px;
  margin-top: 100px;
  -webkit-transition: 1.4s ease-in-out;
  -o-transition: 1.4s ease-in-out;
  transition: 1.4s ease-in-out;
  opacity: 0;
  color: #FFFFFF; }

.mc_fifth_first_p {
  width: 450px;
  font-family: 'Lexend Deca', sans-serif;
  padding: 50px 20px 20px 20px;
  font-size: 25px;
  -webkit-transition: 1.3s ease-in-out;
  -o-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
  opacity: 0;
  color: #FFFFFF; }

.vidd {
  top: -80px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
  width: 350px;
  height: 350px;
  margin-bottom: 60px; }

.mc_sixth_div {
  display: block;
  position: relative;
  background-color: #000000;
  min-height: 750px;
  top: 200px;
  margin-bottom: 30px; }

.mc_sixth_div h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 30px !important;
  right: -350px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  position: absolute;
  border-left: 1px solid #FFFFFF;
  z-index: 2;
  color: #FFFFFF;
  opacity: 0; }

.all_devices_img {
  display: block;
  position: relative;
  top: 40px;
  min-height: 500px;
  -webkit-transition: 1.4s ease-out;
  -o-transition: 1.4s ease-out;
  transition: 1.4s ease-out;
  opacity: 0;
  background-image: url("../images/all_devices.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1; }

.mc_sixth_p {
  position: relative;
  top: 90px;
  left: -1200px;
  opacity: 0;
  padding: 0 15px 5px 15px;
  font-size: 25px;
  width: 80%;
  border-left: solid #FFFFFF;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 30px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.mc_seventh_div {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  color: #000000;
  min-height: 750px;
  top: 200px;
  padding-right: 10px;
  background-image: url("../images/power_c.jpg");
  background-repeat: no-repeat;
  background-size: 90% 80%;
  background-position: 100% 60%; }

.mc_seventh_div h1 {
  font-family: 'Lexend Deca', sans-serif;
  width: 300px;
  font-size: 55px;
  font-weight: bold;
  padding-left: 20px; }

.mc_sev_h1_span {
  color: #978E8E;
  -webkit-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  opacity: 0; }

.mc_seventh_div h3 {
  font-family: 'Lexend Deca', sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 30px; }

.mc_seventh_div h3 span {
  color: #6F6D6D; }

.mc_eighth_div {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  color: #000000;
  min-height: 850px;
  top: 200px;
  padding-top: 50px; }

.mc_eighth_div h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 55px;
  font-weight: bold;
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid #000000;
  margin-top: 150px;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.mc_eighth_waterresi_img {
  display: block;
  opacity: 0;
  margin-top: -20px;
  min-height: 500px;
  -webkit-transition: 1.3s ease-in-out;
  -o-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
  background-image: url("../images/waterproof.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%; }

.mc_eighth_div h2 {
  padding-left: 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 35px;
  font-weight: bold;
  border-left: solid #000000;
  margin-left: -500px;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  opacity: 0; }

.mc_eighth_div p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 22px;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  color: #000000;
  -webkit-transition: 1.4s ease-in;
  -o-transition: 1.4s ease-in;
  transition: 1.4s ease-in; }

.mc_ninth_div {
  display: block;
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  min-height: 1250px;
  top: 200px;
  padding-top: 50px;
  margin-bottom: 196px !important; }

.mc_ninth_div h1 {
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 40px;
  font-size: 45px;
  font-weight: bold; }

.mc_ninth_h1_point {
  color: #FF0000;
  margin-left: 170px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-size: 55px;
  opacity: 0; }

.carousel {
  margin-bottom: 50px;
  position: absolute; }

.carousel img {
  margin-top: 50px; }

.mc_ninth_sutng {
  position: relative;
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 35px;
  font-weight: bold;
  border-left: solid #FFFFFF;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  top: 1000px;
  opacity: 0; }

.mc_ninth_sutng_descr {
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  margin-left: 20px;
  position: relative;
  margin-top: 1000px;
  -webkit-transition: 1.3s ease-in-out;
  -o-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
  opacity: 0; }

.middcon_gray {
  color: #757575; }
